
/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
.portada {
    height: 300px;
    object-fit: cover;
}
.img-perfil {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin: -130px 50px 0 30px;
}
li {
    list-style-type: none;
}
.custom-dropdown-btn {
    width: 170px;
  }

/* INFO PERFIL PRODUCTOR */

.wrapper {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* width: 450px; */
    display:flex;
    box-shadow: 0 1px 20px 0 rgba(37, 189, 70, 0.1);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.wrapper .right {
    width: 55%;
    /* background: #fff; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 25px;
}
.wrapper .right .info,
.wrapper .right .descrip{
    margin-bottom: 25px;
}
.wrapper .right .info h3,
.wrapper .right .descrip h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #1a4911;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.wrapper .right .info_data,
.wrapper .right .descrip_data{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.wrapper .right .info_data .data,
.wrapper .right .descrip_data .data {
    width: 45%;
}
.wrapper .right .info_data .data h4,
.wrapper .right .descrip_data .data h4{
    color:  #353c4e;
    margin-bottom: 5px;
}
.wrapper .right .info_data .data p,
.wrapper .right .descrip_data .data p {
    font-size: 20px;
    margin-bottom: 10px;
    color: #494f55;
}
.wrapper .imagen {
    width: 45%;
    padding: 30px 25px;
    display: flex;
    justify-content: center;
    
}
.wrapper .imagen img {
    width: 650px;
}

/* CARD PRODUCTO */

.card-product {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card-product:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

/* CARD HOME */

.card-home {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(22, 155, 51, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card-home:hover{
    box-shadow: 5px 5px 20px rgba(4, 44, 4, 0.4);
    transform: translateY(-3%);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
    gap: 20px;
  }
  