/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

#btn-home{
    margin-left: 31rem !important;
}

#btn-login{

    margin-left: 28rem !important;
}

footer{

    height: 152px;
}