/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");

/* ------------------- LOG IN CSS ------------------- */

.btn-submit{
    background-color: #7ba873;
    width: 53%;
    letter-spacing: 2px;
}

.btn-submit:active{
    background-color: #7ba873;

}

#log {

    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

#custom-hr {
    border-top: 1px solid #bfbbbb;
    margin: 10px auto;
  }

#btn-nu{
    width: 13%; 
    letter-spacing: 2px;
    background-color: #3c5abb;
}
  

/* ------------------- NAVBAR / FOOTER ------------------- */


footer{

    height: 128px;
}

/* ------------------- ADD PRODUCT ------------------- */

/*------------------------MAPA-------------------------*/

#mapa { width: 100%; height: 580px; }

/* ------------------- WHATSAPP CSS ------------------- */

#wp{
    width: 82px;
    height: 82px;
    border-radius: 46px;
    box-shadow: 5px 9px 9px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    margin-left: 10px;
}

#wp-icon{
    font-size: 3rem;

    
}

/* ------------------- REGISTRO ------------------- */

#btn-re{
    width: 46%; 
    letter-spacing: 2px;
    background-color: #3c5abb;
}

/* ------------------- CREAR PERFIL ------------------- */

#btn-cre{
    width: 46%; 
    letter-spacing: 2px;
    background-color: #7ba873;
}
