/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");

/* ------------------- LOG IN CSS ------------------- */

.btn-submit{
    background-color: #7ba873;
    width: 53%;
    letter-spacing: 2px;
}

#log {

    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

#custom-hr {
    border-top: 1px solid #bfbbbb;
    margin: 20px auto;
  }

#btn-nu{
    width: 13%; 
    letter-spacing: 2px;
    background-color: #3c5abb;
}
  

/* ------------------- NAVBAR / FOOTER ------------------- */


footer{

    height: 128px;
}

/* ------------------- ADD PRODUCT ------------------- */

/*------------------------MAPA-------------------------*/

#mapa { width: 100%; height: 580px; }